/* 

Projet : 
Auteur :
Site web :

*/


/* Variables CSS */

:root{

    /* Font-sizes */
    --text-12: 1.2rem; /* 12px */
    --text-14: 1.4rem; /* 14px */
    --text-16: 1.6rem; /* 16px */
    --text-18: 1.8rem; /* 18px */
    --text-20: 2rem; /* 20px */
    --text-24: 2.4rem; /* 24px */
    --text-30: 3rem; /* 30px */
    --text-36: 3.6rem; /* 36px */
    --text-42: 4.2rem; /* 42px */
    --text-50: 5rem; /* 50px */
    --text-58: 3.8rem; /* 58px */
    --text-74: 7.4rem; /* 74px */
    --text-90: 9rem; /* 90px */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--text-12);  
    /* Exemple prit dans :root "font size" */
}

